<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <a href="/">Home</a>
      <div class="icons">
        <img src="https://via.placeholder.com/30" alt="Icon1" />
        <img src="https://via.placeholder.com/30" alt="Icon2" />
        <img src="https://via.placeholder.com/30" alt="Icon3" />
      </div>
    </header>

    {{{body}}}

    <footer>
      <a href="/impressum">Impressum</a>
    </footer>
  </body>

</html>