<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/subject">Subject</a>
        <a href="/themes">Themes</a>

      </nav>
    </header>

    {{{body}}}

    <footer>

    </footer>
  </body>

</html>