<h1 class="welcome_title">Welcome!</h1>
<p class="welcome_text">
  Willkommen bei Sip & Co., deinem neuen Lieblingsort für köstliche
  Kaffeerezepte und Barista-Geheimnisse! Hier findest du alles von klassischen
  Zubereitungen bis hin zu kreativen, ausgefallenen Kreationen, die deine Liebe
  zu Kaffee & Drinks neu entfachen werden. Lass dich inspirieren und entdecke,
  wie vielseitig und genussvoll die Welt des Kaffees sein kann!</p>

<img src="" />

<title> </title>
