* {
  font-family: "<link rel="stylesheet" href="https://use.typekit.net/eay3pxo.css">";

  font-family: "sofia-reg", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-family: "sofia-sem", sans-serif;
  font-weight: 700;
  font-style: normal;

  font-family: "sofia-bold", sans-serif;
  font-weight: 900;
  font-style: normal;
}

header,
footer {
  padding: 12px;
}

body   { 
	background-color: #d4674b; 
	color: rgb(0, 0, 0);
}




#eae6e1
#d4674b
#bfc6a3
#c0a163
#e1beb0
#567667